[2019-07-09 15:44] yuricorrea opened #1 "Queue"
Hi!
There's the "add to queue" functionality? I'm trying to use dynamic uris but the player always back to first song when I add a new uri
Ex: `uris={this.state.uris}`

[2019-07-09 16:39] gilbarbara commented on #1
Hey!

You'll need to set the `offset` prop, which is the desired index from the `uris` you want to play and you can add tracks to the `uris` and keep the same `offset`.
Does it work for you?

[2019-07-09 16:40] gilbarbara commented on #1
You can check this functionality at https://musicbot.io

[2019-07-09 19:21] yuricorrea commented on #1
@gilbarbara I added offset, but when I add uri to state it returns to the beginning of current song

[2019-07-09 20:29] gilbarbara commented on #1
Make sure that `uris` is an array of Spotify's URIs.
Note that `offset` is zero-based, so if you want to play the third track set it to 2

[code]

[2019-07-09 20:43] yuricorrea commented on #1
@gilbarbara  I know
I've made a fix for this.

With this code I add one new uri just when offset is change, so the player comes back from the beginning, but it was already at the beginning anyway

[code]

[code]

[2019-07-09 20:58] #1 closed

[2019-08-08 17:44] landon-baker opened #2 "Songs not loaded when player is paused"
Hello! This is an amazing library and I really appreciate all of the work you have put into this! The only question I have/issue I see is about the player behavior when it is paused.

URI changes are handled wonderfully while the player is currently playing, however it seems that when the player is paused and new URIs are passed down, the player is unresponsive. It would be great if the player beg

[2019-08-10 03:05] gilbarbara commented on #2
@landon-baker Hey Landon! Thanks! <3
I'll take a look at this over the weekend.

[2019-08-10 21:09] gilbarbara commented on #2
The only way to load URIs in the player is with the [play](https://developer.spotify.com/documentation/web-api/reference-beta/#endpoint-start-a-users-playback) endpoint and that's why it didn't honor the URIs changes while paused.
I've added a flag to update the context if URIs have changed while the player was paused in v0.6.0

I've changed the demo to play automatically when clicking the buttons

[2019-08-10 21:09] #2 closed

[2019-08-16 02:51] landon-baker commented on #2
Sorry, but would you mind sharing how you updated the demo? That's exactly what I'm looking to do, but I'm not clear on exactly what you did.

Could you also elaborate a bit on the callback prop - how it's used and maybe a quick example? That would be very helpful!

Thanks again!

[2019-08-16 14:22] gilbarbara commented on #2
@landon-baker

You can check this [codesandbox](https://codesandbox.io/s/react-spotify-web-playback-demo-dye1g) for the demo source code.
**Since the preview panel runs on an iframe, the player DOESN'T work with it.**
That's why the demo isn't hosted there and you must open the preview in a new window to work.

The `callback` prop doesn't need to be used unless you want to listen to player updates

[2019-08-28 18:16] QuietMonkey opened #3 "multiple errors in react"
TypeError: this._getTokenRequests[t.ref] is undefined
index.js:9:8936
    _onToken https://sdk.scdn.co/embedded/index.js:9
    <anonyme> self-hosted:1011
    _handleMessages https://sdk.scdn.co/embedded/index.js:9
    <anonyme> self-hosted:1013
    _receiveMessage https://sdk.scdn.co/embedded/index.js:9
    <anonyme> self-hosted:1009

TypeError: this._streamer is null
3 index.js:9:9029
    _onGetC

[2019-08-28 21:29] gilbarbara commented on #3
which version of React?

[2019-08-29 11:34] QuietMonkey commented on #3
The last one : 16.9.0

[2019-08-29 12:08] gilbarbara commented on #3
That seems to be an exception from the Spotify's Web Playback SDK and not from this library, that is only a player UI on top of it.

Can you provide an online demo reproducing it? I couldn't reproduce it myself.

[2019-08-29 12:50] QuietMonkey commented on #3
I'm working on it right now. I use it as a node module, and right now it play songs, but I need to change the actual player (bottom right) before it does anything.
I can't deploy anything right now but..
Here's my Repo => https://github.com/QuietMonkey/Spotifake

[2019-08-29 13:33] gilbarbara commented on #3
Let me know where you have it published, I can't run the project...

[2019-09-07 16:17] thiemok opened #4 "Sync player to connect api devices playback state on init"
Given that the player has just been initialized and is not supplied with an array of uri to play. But different device is detected as playing using the spotify connect api.
Would it be possible to have the play auto select the currently playing device and sync to its playback status?

If not that would be a great feature to add.

[2019-09-25 19:48] mlam28 opened #5 "Initial autoplay does not work"
Hi,

The first time a song is loaded into the player's uris prop, the player does not automatically play despite giving it the prop autoplay={true}.  The web player will only play if you click the play button located on the web player.

In addition, when only one track uri specifically is on the first load of a uri into the player, playback does not work at all.

Are there any suggestions for thes

[2019-09-25 20:07] mlam28 commented on #5
After further debugging it seems that autoPlay={true} does not work at all. Can you please fix this issue?

Thanks,
Michelle

[2019-09-25 21:03] gilbarbara commented on #5
Hey,
The autoPlay is being used in the demo and it works.

[2019-10-21 06:17] kristinyim opened #6 "addition of seek, noticed some bugs"
Thank you so much for this making this! I made a simple react app with the Spotify API and am trying to use this instead of the SDK to finish it off. Here's where I use it in my project: https://github.com/kristinyim/smookify/blob/master/src/components/Study.js#L50

A couple of questions:

1. For my specific project, I need to be able to seek to a random part of the song. Would it be possible to a

[2019-10-23 14:24] gilbarbara commented on #6
Hello,

Just to clarify this component uses Spotify's Web Playback SDK. This is just a UI on top of it.

1 - This is not something I plan to add but feel free to submit a PR.

2 - 403 is an authorization error which probably means your token has expired. It's only valid for an hour, so you'll need to validate and renew the token by yourself.

3 - Probably not, since 403 is authorization error.
You

[2019-10-23 14:25] #5 closed

[2019-11-30 21:40] BrandonL65 opened #7 "Illegal Scope caused by user-read-birthdate"
user-read-birthdate is a deprecated scope however this package requires it to work.

[2019-12-01 15:49] #6 closed

[2019-12-01 15:52] #3 closed

[2019-12-02 14:55] dannyWoodford opened #8 "props / state help"
Could you give an example code snippet of how to access the props and state, I cant seem to affect anything and I'm pretty sure it's just a syntax thing.

[2019-12-03 18:35] gilbarbara commented on #8
I don't understand what you asking for. Please give me more details.

[2019-12-18 04:37] jdstregz opened #9 "Adding 'currently playing on' functionality"
I was thinking it would be cool to add a currently playing on functionality to the player.

Currently if you load a player with no URIs, it doesn't indicate that the music is player on another device (along with the song). Usually if you load up spotify on your phone or desktop and the music is playing on the other device, it will tell you. Pressing play would result in automatically switching pla

[2019-12-18 13:50] #8 closed

[2019-12-20 03:18] ryanbrandt opened #10 "Source for demo"
Was wondering if you could provide the source for the demo? Would be useful for reference

[2019-12-23 14:16] gilbarbara commented on #10
Please refer to https://github.com/gilbarbara/react-spotify-web-playback/issues/2#issuecomment-522026739

[2019-12-23 14:16] #10 closed

[2020-01-09 04:57] Nickprovs opened #12 "Expose the current duration somehow"
This is an awesome component. I have no qualms there.

However, I'm not able to access the current play location (elapsed duration) of the song. An app I'm working on is a visualization tool... and it's necessary to know the current position in the track whenever I'm animating a frame to get the proper audio analysis data.

Is there anyway that could be propagated backup as an event?

[2020-01-23 03:47] #12 closed

[2020-01-23 03:47] Nickprovs commented on #12
Closed because I don't think this is publicly exposed to you either.

[2020-01-23 03:59] Nickprovs opened #13 "Swapping the access token causes two songs to play at once when changing the song"
1.) Start a song.
2.) Request a new access token via refresh token. Update the state (access token).
3.) Skip to the next song or request play to a new uri.
4.) You'll start hearing both songs at once.

[2020-01-24 17:47] gilbarbara commented on #13
Needs example

[2020-01-24 18:09] Nickprovs commented on #13
My current project has a little too much going on so I'll write a little test app before 01/27.

[2020-01-30 03:44] Nickprovs commented on #13
A bit late... but here's a quick example.

https://github.com/Nickprovs/token-issue

There's a README in the root to get it up in running. The example boils down to this...

The client app requests a new token every 15 seconds. You'll notice in the client console that it's getting a new one. This token is passed to the player control via props. There will be a button on the player page to play a r

[2020-04-15 20:13] raj793 commented on #13
Having the same issue.

[2020-04-17 18:11] raj793 commented on #13
I found a workaround for this (You lose the player controls after token refresh though, but if you're just looking for continuous playback then this should do)

const timerHandle = useRef(null)

const requestToken = async () => {
    try {
      let res = await axios.post('https://accounts.spotify.com/api/token', querystring.stringify(requestBody), config)
      if (res.status !== 200 || !res.data

[2020-04-17 19:09] gilbarbara commented on #13
Hey,

@raj793 I've seen the token expire before the 1 hour period, so I think it's better to listen to authentication errors in the callback and if there's an invalid token error you can get a new one and update the player.

This way the request isn't made during songs and avoid the intterruption

[2020-04-17 19:09] #13 closed

[2020-04-17 19:20] gilbarbara commented on #13
Also, try to set the token as the `key` prop in the Player if you encounter the player duplicate or have any weird artifacts.

[2020-04-17 19:51] raj793 commented on #13
Is there any chance of audio continuity breaking if the player is already playing audio?

[2020-04-18 17:17] gilbarbara commented on #13
As I said, the request isn't made during play, just when it needs to load a song

[2020-04-18 17:42] raj793 commented on #13
During my tests, song would stop playing as soon as token would expire in an hour.

[2020-04-28 18:47] Utsavjain4561 opened #17 "Access token not working in demo"
I am not a Spotify premium user . Does this mean i cannot use this API ? as token generated from my account failed authentication in your demo

[2020-04-29 13:41] gilbarbara commented on #17
Yes, it's on the [Web Playback SDK](https://developer.spotify.com/documentation/web-playback-sdk/) documentation that is linked in the README.

[2020-04-29 13:41] #17 closed

[2020-04-29 15:04] Utsavjain4561 commented on #17
Thanks for the comment , but can you suggest me how could I possibly play a spotify song in my application ?

[2020-04-29 19:49] gilbarbara commented on #17
Without a premium subscription, you can just play the 15s preview.

[2020-06-22 04:55] Huynheddie opened #18 "Component does not accept track uri's"
I've been trying to pass in a specific track's uri ("spotify:track:1gahyBwl7jWJ91m052fgxU" for example) and I keep getting a "400 Non supported context uri" error. In the headers, I can see that the component is passing in the uri as the "context_uri" key rather than "uri", which does not support playing specific tracks. Is there any way around this?

[2020-06-22 13:11] gilbarbara commented on #18
Hey,

Did you check the demo? https://codesandbox.io/s/react-spotify-web-playback-demo-dye1g
I've just tried and it is working with tracks too.

[2020-06-22 18:19] Huynheddie commented on #18
Yeah, when I try to pass in that spotify track I provided in the earlier comment nothing seems to be happening. I can play the 'Play some Tracks' song fine, but putting a different track URI in doesn't seem to work.

[2020-06-22 18:54] Huynheddie commented on #18
Ah I figured it out, it looks like you need more than one track uri in order to play them! Thanks for the help.

[2020-06-22 18:55] #18 closed

[2020-06-23 03:06] gilbarbara commented on #7
Hey,

I couldn't replicate this `Illegal Scope` error you mentioned, even when I request a token with `user-read-birthdate` there's no error.
Anyway, the package doesn't use scopes, it was just mentioned in the README.

[2020-06-23 03:06] #7 closed

[2020-07-07 22:43] boedy opened #19 "Playing single tracks doesn't work"
First of all: Great player component you've made here!

Currently it's not possible to play a single track uri, because of this line:
https://github.com/gilbarbara/react-spotify-web-playback/blob/b6d26a11c38bd53e49df7325de7f3c8aadae8e9e/src/index.tsx#L244

Is there a purpose for the `ids.length > 1` check?

[2020-07-08 13:13] gilbarbara commented on #19
Hey @boedy

I can't remember why this check is present. I'll take a look.

[2020-07-09 11:45] gilbarbara commented on #18
@Huynheddie this behavior will change in 0.7.0

[2020-07-12 21:45] alexnguyen98 commented on #19
@gilbarbara
There reason might be that your using context_uri (which is used for albums/playlists/artists) instead of uris (for tracks).
I might switch to uris for single track usage.

https://github.com/spotify/web-api/issues/675
https://developer.spotify.com/documentation/web-api/reference/player/start-a-users-playback/
--

[2020-07-13 02:29] gilbarbara commented on #19
@alexnguyen98
It's already using URIs for tracks. The API won't work any other way...

[2020-07-13 02:30] gilbarbara commented on #19
hey @boedy

I've updated the URI parsing and validation. There's a preview if you want to test it: https://nwl9c.csb.app/

Here's the list of changes: https://github.com/gilbarbara/react-spotify-web-playback/pull/20 for this version.
I still have some UIs updates to finish before I publish it but it shouldn't tell take long.

[2020-07-13 02:33] gilbarbara commented on #4
@thiemok

hey,

I've added a prop for that: `syncExternalDevice`. It will be available in 0.7.0.

Here's the list of changes: https://github.com/gilbarbara/react-spotify-web-playback/pull/20 for this version.
I still have some UIs updates to finish before I publish it but it shouldn't tell take long.

[2020-07-13 02:35] gilbarbara commented on #9
hey @jdstregz,

I've added a prop for that: `syncExternalDevice`. It will be available in 0.7.0.

Here's the list of changes: https://github.com/gilbarbara/react-spotify-web-playback/pull/20 for this version.
I still have some UIs updates to finish before I publish it but it shouldn't tell take long.

[2020-07-19 01:42] kevinwaterloo opened #22 "NPE in demo"
I was testing out the demo and I get a `Cannot read property 'length' of undefined' in Devices.js after inputting my access token.

![image](https://user-images.githubusercontent.com/8786317/87865135-62724500-c93f-11ea-8384-0b3e773c2869.png)

Also running into this issue when using the React component.

Thanks!

[2020-07-19 20:19] mayander30 opened #23 "i have dounghts about how update the token.."
after the token expiry, error appear, have a way for change token?

[2020-07-29 03:39] gilbarbara commented on #23
Hey,

This library isn't responsible for handling tokens.
You can watch for the `authentication_error` in the callback and refresh the token by yourself.

Check the demo source for an example.

[2020-07-29 03:39] #23 closed

[2020-07-29 03:45] gilbarbara commented on #22
Hey @kevinwaterloo

It's impossible to know what is happening on your machine. What is NPE, anyway?

What is the 401 error you are having with the Spotify API?
Are you using a valid Spotify Premium subscription?

Check the [Spotify Web Playback SDK](https://developer.spotify.com/documentation/web-playback-sdk/) for more details of the requirements.

[2020-07-29 13:20] mayander30 commented on #23
you should receive a function instead of a token string

Your player
`this.player = new window.Spotify.Player({
      getOAuthToken: (cb: (token: string) => void) => {
        cb(token);
      },
      name,
    }) as IWebPlaybackPlayer;`

Solution
`playerRef.current = new window.Spotify.Player({
        name,
        getOAuthToken: async (cb) => {
          const token = await refresh(acc);

[2020-07-29 14:52] gilbarbara commented on #23
hey,

The initialization happens just once when the page loads and the token will expire in one hour.
The `getOAuthToken` wouldn't run again.
https://developer.spotify.com/documentation/web-playback-sdk/reference/
Do you have additional (and official) documentation explaining your suggestion?

This library isn't handling the token fetching and Spotify authentication flow since different apps would

[2020-07-29 17:17] mayander30 commented on #23
sure, but the refresh funcion it is my, when sdk need a new token, it run getOauthToken again.
it is working for me.

[2020-08-05 21:41] anthonychoi98 opened #25 "issue retrieving track bc of scope?"
spotify recently removed their user-read-birthdate scope and so we can't get a token with that scope, which may be the reason why https://api.spotify.com/v1/me/player/play?device_id={...} is resulting in a 403 error

[2020-08-06 16:39] gilbarbara commented on #25
Hey,

Spotify deprecates that scope, but the player is working normally as you can see in the demo.
Are you using a Premium account?

[2020-08-06 20:23] anthonychoi98 commented on #25
Yes, I am!

[2020-08-09 18:14] Carson-Tang commented on #25
Hey, I appear to be getting the same issue with just tracks (albums work as intended), this might be worth taking a closer look at?

[2020-08-10 12:08] gilbarbara commented on #25
@Carson-Tang @anthonychoi98
Please post the tracks you are having problems or even better create a codesandbox.

Without it, it's impossible to know what is going on...

[2020-08-10 12:17] gilbarbara commented on #25
Is the demo working for you? https://react-spotify-web-playback.gilbarbara.dev/

[2020-08-10 16:28] Carson-Tang commented on #25
I believe it's all tracks? But I've only tested it on `spotify:track:3UEnF6y5tyHVtMzldS3svp` (https://open.spotify.com/track/3UEnF6y5tyHVtMzldS3svp?si=frOnk5KjTtC8_goDARGf3w), `spotify:track:0a0FISfY8ty1xC69xCWf2T` (https://open.spotify.com/track/0a0FISfY8ty1xC69xCWf2T?si=GLF5QkjpRAikM3_M6eUKqg).

Playing the URI for an artist works fine, tested on `spotify:artist:23fqKkggKUBHNkbKtXEls4` (https://

[2020-08-11 14:35] pritammobisoft commented on #22
@gilbarbara >> Are you using a valid Spotify Premium subscription?

Does this apply to the users of the app also? Or the premium account is required for the developers only?

Thanks!

[2020-08-11 14:40] gilbarbara commented on #22
@pritammobisoft
Yes, is in the documentation: https://developer.spotify.com/documentation/web-playback-sdk/#requirements

[2020-08-11 14:40] #22 closed

[2020-08-11 14:42] pritammobisoft commented on #22
@gilbarbara Thanks a lot for the quick reply! Much appreciated!

[2020-08-16 13:29] Justice4Joffrey opened #26 "Example snippet doesn't appear to work (Restriction violated)"
Cool looking tool - thanks foor putting this together. Having an issue creating the bare example, however.

Authentication seems to work fine, requests are all 200s etc. so token is OK.

[code]

Clicking 'play' results in a failed request which sends a request of Content-Length 0 to the play endpoint (e.g. the valid requests in your demo apps send a request payload with uris, context_uri etc.). Fe

[2020-08-18 18:24] gilbarbara commented on #26
Hey

Please refer to https://github.com/gilbarbara/react-spotify-web-playback/issues/2#issuecomment-522026739

Apart from that, I can't help with Spotify API errors

[2020-08-18 18:24] #26 closed

[2020-08-26 22:31] sjaugmented commented on #25
I'm having the same issue with scope and authorization. Using a premium account, the demo isn't working for me and I can't get the player to authorize in my app either.

[2020-08-28 18:29] isaacaddis commented on #25
same here. the problem seems to be with the user-read-birthdate scope

[2020-08-28 21:21] isaacaddis commented on #25
The demo seems to work with my auth tokens I gen in my project (using all the scopes except for user-read-birthdate), but I get a 403 whenever I try to actually play something in my project

[2020-09-06 23:25] gilbarbara commented on #25
hey @isaacaddis

I didn't understand your comment. Do you mean the name given to the imported component?

[2020-09-06 23:40] gilbarbara commented on #25
Please check version 0.7.0

[2020-09-06 23:40] #25 closed

[2020-09-06 23:41] gilbarbara commented on #19
Fixed in 0.7.0

[2020-09-06 23:41] #19 closed

[2020-09-06 23:41] gilbarbara commented on #9
Added in 0.7.0

[2020-09-06 23:41] #9 closed

[2020-09-06 23:41] gilbarbara commented on #4
Please check version 0.7.0

[2020-09-06 23:41] #4 closed

[2020-09-07 05:44] nisargshh commented on #2
Off-topic, for musicbot did you get the written permission from Spotify to get the access token so you don't have to update it every hour?

[2020-09-07 15:14] gilbarbara commented on #2
@nisargshh I have to update the token when it expires, I just use the user refresh_token.

[2020-09-26 01:10] j0hnk1m opened #28 "Passing volume as a prop?"
As the title suggests, is there any way to pass a volume (decimal between 0 and 1) as a prop to the SpotifyPlayer component?

[2020-09-26 01:13] j0hnk1m opened #29 "SpotifyPlayer component keeps showing loading animation"
Sometimes (especially when I render the component on a page, change pages, then come back), the components never actually loads and is stuck in the loading animation until I manually refresh the page. Is anyone else having this issue?

[2020-09-29 01:55] gilbarbara commented on #28
hey @j0hnk1m

not really but how it would work?
Just an initial value or fully controlled hiding the volume component from the UI?

[2020-09-29 02:35] j0hnk1m commented on #28
Thanks for the reply @gilbarbara !
Both would be amazing to have: currently, the default volume is set to 100%, which is super loud, and even if I lower the volume, it reverts back to 100% after changing a song. It would be also nice we could pass in a variable to control the volume at all times.

[2020-10-05 13:50] Subraiz opened #30 "Question on Update Saved Status"
I am just a little confused on how to use the updateSaveStatus prop. I am trying to change the song that is playing by clciccking on a another button and I am not sure how to do so.

[2020-10-05 15:07] gilbarbara commented on #30
hey @Subraiz

I'm not sure I understand what you are trying to do.
Do you want to change the song or get the update status?

To change the song you need to update the `uris` prop with the new song(s).

Do you need that?

[2020-10-06 23:11] prestondunton opened #31 "Read a track's seek time in milliseconds"
Hi there!  Thank you so much for making this!

I would like to read how far along the track the player is at any given time in milliseconds.  My goal is to trigger text / color changes in an element when the chords change in a track the user is playing (given the millisecond marks of chord changes in a JSON).

I would also like to be able to seek with arrow keys.  In another part of my application

[2020-10-08 06:03] gilbarbara commented on #31
hey @prestondunton

Thanks! 😀

About syncing the player every millisecond, I don't this is feasible for this package. It would make the UI unusable and definitely wouldn't work with external players with API calls.
I could expose the player instance with a getter prop but no official support.

I'll think about keyboard navigation as this package is a widget to be used within a page with other elem

[2020-10-08 21:30] prestondunton commented on #31
@gilbarbara Thank you for responding so quickly to this.  I now understand the difference between the Spotify Web Playback SDK and the Spotify Web API.  I agree with you now, I don't think that the SDK supports seeking like that.  What I was looking for was actually [this](https://developer.spotify.com/documentation/web-api/reference/player/seek-to-position-in-currently-playing-track/), which is i

[2020-10-08 23:32] gilbarbara commented on #30
no response...

[2020-10-08 23:32] #30 closed

[2020-10-08 23:39] gilbarbara commented on #31
@prestondunton

Actually the SDK supports polling every millisecond but CPU usage went crazy.
You can check [here](https://codesandbox.io/s/spotify-web-playback-polling-h4jqi?file=/src/App.js). Just update the interval to 1.

The API won't allow that kind of behavior, for sure.

The keyboard navigation is my radar so I'll close this since the title is about seek time.

[2020-10-08 23:39] #31 closed

[2020-10-08 23:44] gilbarbara commented on #29
hey @j0hnk1m

Please post a codesandbox example

[2020-10-09 17:37] Subraiz opened #32 "Not working on mobile"
Works fine in desktop/laptop browser, but on safari and google chrome on mobile it says error: No Player.

[2020-10-12 04:52] gilbarbara commented on #32
Hey @Subraiz
Yes, it's in the README. Check the SDK [docs](https://developer.spotify.com/documentation/web-playback-sdk/#supported-browsers)

[2020-10-12 04:52] #32 closed

[2020-10-23 16:35] NoorFakhry opened #33 "Player doesn't play TRACK uri"
Hi @gilbarbara, First of all I want to thank you about this amazing library, it saved me a lot of time.
I am facing an issue, the player only plays the artist uri, and I want to play a track uri..
Thank You again

[2020-10-23 16:45] gilbarbara commented on #33
hey @NoorFakhry

The demo uses artists, albums, and tracks URIs. Isn't working there?

[2020-10-23 16:53] NoorFakhry commented on #33
Yes, it actually works in the demo, but it doesn't work in my app when I pass a track Uri as prop to the component, don't know why !!

[2020-10-23 19:07] gilbarbara commented on #33
It's impossible to know what's going on in your app. If it's in the demo it's not a bug in the package.
Good luck

[2020-10-23 19:07] #33 closed

[2020-11-12 17:15] peterzenger opened #34 "Can't change volume in firefox, TouchEvent is not defined"
Hi. just wanted to say this is really cool! However, it seems like changing the volume or scrubbing through the song isn't working in firefox at the moment. Doing so gives us this error log:

`Uncaught ReferenceError: TouchEvent is not defined
    getCoordinates utils.ts:4
    handleClickTrack index.tsx:104
    React 14
    unstable_runWithPriority scheduler.development.js:646
    React 4
    getC

[2020-11-18 14:56] Jaja0624 opened #35 "How to control play/pause?"
The play prop doesn't seem to be working for me

[2020-11-18 14:57] #35 closed

[2020-11-25 08:09] Jaja0624 opened #36 "How to display position in track? (seconds)"
Sorry if this example already exists. Could not find.

Cheers

[2020-11-25 10:20] Jaja0624 opened #37 "403 err when changing list of uris of length > 1 while player is playing"
If you change the list of uris to a list of size greater than 1 **while** the player is playing, you'll get a 403 error indicating that the device is unavailable.

`PUT https://api.spotify.com/v1/me/player/play?device_id=XXXXXXXXXXXX 403`

Some more info here:
https://developer.spotify.com/documentation/web-api/guides/using-connect-web-api/#:~:text=If%20you%20receive%20the%20403,%2Fme%2Fplayer%2Fd

[2020-11-25 10:39] Jaja0624 opened #38 "styling for volume / device popup"
Is there any way to move the volume / device popup down? If i put it at the top of the page it will be cut off.

![image](https://user-images.githubusercontent.com/31715149/100216701-71599d00-2ec7-11eb-990a-58b47fe85b5f.png)

Cheers

[2020-11-25 11:18] Jaja0624 commented on #37
nevermind i got it working. Not sure how though...

[2020-11-25 11:18] #37 closed

[2020-11-25 13:20] gilbarbara commented on #38
hey @Jaja0624

Not really since it would cut off the handle in the slider.

[2020-11-25 13:23] gilbarbara commented on #36
hey @Jaja0624
It's not possible right now.

Feel free to submit a PR.

[2020-11-25 13:27] gilbarbara commented on #34
hey @peterzenger

Apparently, the error occurred in the `handleClickTrack` listener...

I'll need to check that, feel free to submit a PR.

[2020-11-25 15:01] Jaja0624 opened #39 "Invalid durationMs for current track"
The durationMs for the track from the callback prop is the same as the track that was **previously** played. Thus, the first track durationMs will be correct, but all subsequent tracks will be incorrect.
From the callback prop
![image](https://user-images.githubusercontent.com/31715149/100245100-88f74c80-2eec-11eb-9b85-7af1db1902b7.png)

Actual
![image](https://user-images.githubusercontent.com/31

[2020-11-25 15:03] Jaja0624 commented on #39
wait sorry i just realized they have different ids..? Nvm ill see whats wrong with this...

[2020-11-25 17:28] NathanWine commented on #34
Hi @gilbarbara

I did some digging and found that the error occurs in your [react-range-slider](https://github.com/gilbarbara/react-range-slider) project that this player uses as a dependency. AFAIK, TouchEvents are not fully compatible with all desktop browsers (https://developer.mozilla.org/en-US/docs/Web/API/TouchEvent/TouchEvent) and will raise an error that they are undefined if you try to us

[2020-11-25 17:30] peterzenger commented on #34
Thank you @NathanWine! Collaboration is the key to our success!

[2020-11-25 17:32] gilbarbara commented on #34
hey @NathanWine
Thanks, I'll update the project to add the demo and use codesandbox ci to test it

[2020-11-26 10:59] Jaja0624 opened #40 "Is it possible to know when the user seeks (changes song position)?"
Cheers

[2020-11-26 19:02] fbegue opened #41 "create compact 'vertical' display mode"
First off - this is AMAZING thank you so much for providing this for the community!

I'm looking at trying to fit the player into a side panel on my website, so it would look more like this:

![player_preview](https://user-images.githubusercontent.com/8701694/100384859-22a72280-2fef-11eb-8a32-9e4e3251bf6c.png)

From pulling down the repo and perusing, looks like I need to modify the **Info** compo

[2020-11-30 02:48] gilbarbara commented on #40
hey @Jaja0624
It's not. What's your reasoning for that?

[2020-11-30 03:11] gilbarbara commented on #39
I couldn't reproduce that.

When the player changes track the callback is being called twice in response to state changes from the web playback SDK. The second update is bringing the correct duration. On both calls, the artist and track are correct.
I can't say if it's a problem in this library or the SDK.
Can you reproduce it in the demo?

[2020-11-30 05:00] gilbarbara commented on #39
hey @Jaja0624

So I changed the status update to wait for the complete information of the new track before calling the callback, so it should be fixed in the next version.

[2020-11-30 05:03] gilbarbara commented on #34
It will be fixed in the next update. 🤞

[2020-11-30 14:46] peterzenger commented on #34
Thank you @gilbarbara and @NathanWine!

[2020-12-02 17:25] Jaja0624 commented on #39
Thank you 👍

[2020-12-02 17:49] Jaja0624 commented on #40
actually im trying to create a timer and if the user seeks i need to get the new position value

[2020-12-02 19:33] gilbarbara commented on #28
@j0hnk1m I'll add an `initialVolume` prop in the next release, but full controlled mode isn't something that fits this library philosophy.

Thanks

[2020-12-02 20:31] gilbarbara commented on #40
Ok, I'm adding a `progress_update` callback type for this.

[2020-12-02 20:37] gilbarbara commented on #29
hey @j0hnk1m

Did you try to set a key to this component so it won't re-render itself unless the key changes?
I'm using it at [musicbot.io](https://musicbot.io) and I'm not having this issue.

[2020-12-03 16:55] Jaja0624 commented on #40
That's awesome. Thank you so much for ur work.

[2020-12-03 19:45] gilbarbara commented on #38
@Jaja0624 I've added detection for the player position, so it would render the drawer top or bottom based on it.

[2020-12-03 20:00] gilbarbara commented on #29
@j0hnk1m

I've identified the problem. The SDK was already loaded so it skipped the initialization.
It will be fixed in the next release.

[2020-12-03 20:07] Jaja0624 commented on #38
Is it possible to provide a ETA for next release? Is there any way to get access to the changes early?

[2020-12-03 22:03] #34 closed

[2020-12-03 22:03] #28 closed

[2020-12-03 22:03] #38 closed

[2020-12-03 22:03] #39 closed

[2020-12-03 22:03] #40 closed

[2020-12-03 22:03] #29 closed

[2020-12-03 23:00] gilbarbara commented on #38
@Jaja0624

Relax man, this is open source...

anyway, it's already published

[2020-12-04 01:21] Jaja0624 opened #43 "Changing the "play" props restarts track rather than resume"
If we only change "isPlaying" prop to true the track will restart. Possible to resume?

Cheers

[2020-12-04 04:13] gilbarbara commented on #43
Not sure what you mean as there's no `isPlaying` prop.

[2020-12-04 05:04] Jaja0624 commented on #43
sorry i meant from the callback state object (when the player updates).

[2020-12-04 13:06] gilbarbara commented on #43
So, your original title was correct...

I'd assume that you meant to change the behavior of the "play" prop to resume playing if a track is already loaded?

[2020-12-04 13:14] #43 closed

[2020-12-04 13:20] gilbarbara commented on #41
hey @fbegue

Thanks! 👍

Yeah, I'm already working on a UI update and I'll probably add a "compact" layout alongside themes.
Not sure about ETA yet, but soon.

### Compact
![compact](https://user-images.githubusercontent.com/31954/101168448-3b7c8d00-361a-11eb-887a-35b23a7aade1.png)

### Inline (large screens)
![inline-desktop](https://user-images.githubusercontent.com/31954/101168457-3ddee700-361a-

[2020-12-04 13:23] gilbarbara commented on #36
I'm working on updating the UI, so it resembles Spotify's own UI.
Check the #41 issue for a preview.

[2020-12-11 12:05] AttilaTheFun opened #46 "Error when trying to play URI in Create-React-App Typescript project"
I wanted to test out this package so I created a fresh typescript project with Create React App and installed this package with "npm install --save react-spotify-web-playback".

Then I edited the App component to include the Spotify player:
[code]

When I run this, the player shows up but I get the following error when trying to play:
[code]
In Chrome I get this stack trace:
<img width="1030" alt=

[2020-12-11 23:15] gilbarbara commented on #46
hey @AttilaTheFun

No idea. I just create a codesandbox with the same code you posted and it's working properly.
https://codesandbox.io/s/spotifyplayer-nn6no

Does your token have all the required scopes?
Can you try to get a new one with this [link](https://accounts.spotify.com/en/authorize?response_type=token&client_id=adaaf209fb064dfab873a71817029e0d&redirect_uri=https:%2F%2Fdeveloper.spotify.c

[2020-12-14 10:55] AttilaTheFun commented on #46
Hmm so that seemed to work, but it wouldn't let me play the song from the browser window. It forced me to pick a device and play from that Spotify client instead. Is it not possible to play from the browser itself?

[2020-12-14 12:53] gilbarbara commented on #46
Hello!

What did work? The sandbox or the token?

Yes, it's expected for it to create a player and use it on the desktop.
Mobile browsers aren't supported by the SDK.

[2020-12-15 23:37] AttilaTheFun commented on #46
I was able to play from one of my existing Spotify devices using the player. The web playback SDK docs demonstrates creating a player in a browser which you can then play from as a target device. I was wondering if this library would allow for playback inside the browser tab itself by creating a new device and then playing from it, or if it can just act as a "remote control" for other devices.

[2020-12-16 00:32] gilbarbara commented on #46
hey @AttilaTheFun

Yes, definitely. It's the whole point of this package.
Did you check the demo in a **supported desktop browser**?

<img width="563" alt="supported-browsers" src="https://user-images.githubusercontent.com/31954/102289216-de87ad80-3f1c-11eb-9bb1-04e56c3e65fc.png">

You can read about it in the official [docs](https://developer.spotify.com/documentation/web-playback-sdk).

[2020-12-16 03:31] AttilaTheFun commented on #46
@gilbarbara thanks! I think I might have tried to use it in Safari before. Both the demo and the typescript react app finally worked for me in Chrome.

[2020-12-16 03:31] #46 closed

[2021-01-03 13:22] 1mm0rt4l1t9 opened #47 "TypeError: Cannot read property 'length' of undefined"
Yo! I created new project with create-react-app n only one thing I do install react spotify web playback, but I got TypeError: Cannot read property 'length' of undefined after component rendered.
![Untitled](https://user-images.githubusercontent.com/67856658/103479685-753ee000-4de0-11eb-922f-d980f9df43f5.png)

[2021-01-03 14:06] #47 closed

[2021-01-10 17:01] caranicas opened #48 "need some additional clarity when no uris are provided."
On initial load the callback function fires twice with 2 `status_update`s. once with `INITIALIZING` , and then `READY` however this `READY` will fire regardless of if there are default URIs provided. and with the same data shape as when then a URI is provided.

This means that the a user can click on the play button and they will be greeted with this text in the player `Cannot perform operation; n

[2021-01-11 18:58] gilbarbara commented on #48
hey @caranicas

Both `status_update` is related to the Spotify Web Player SDK load.
Wouldn't it be better to skip this library render if there aren't any URIs?

Can you explain how are you using this library? Does the user load the URIs? How does it work?

[2021-01-11 19:45] caranicas commented on #48
My intention is be to give the user the option, where they could either use some built in search tools to get a URI, or give them the ability to sync with spotify if they wanted to use the vastly better UI, and pic songs from playlists.

The issue i am running into that I can't sync with the external player without first instantiating the player `<SpotifyPlayer token={accessToken}/>`

After the `R

[2021-01-12 17:43] gilbarbara commented on #48
Not sure what you mean by:

Hide what? The whole player? The Play/Pause button?

The `this.player.connect();` would initialize the player but the READY event comes after that. That's why I don't care about the connect boolean. It can do anything until it's ready.

Anyway, since URIs is prop that you set it on the component, you already have access to it.

[2021-01-12 23:21] caranicas commented on #48
Thanks for the quick responses :)

I think I can outline the user flow that I'd like, and that might better explain it.

1 - Click Login, do callback and get token.
2 - Action page with an instantiated player (get 2 callbacks for `status_update`, INITIALIZING and READY)
3 - Prompt a modal "Select a song from the drop down (selecting a uri), or connect your Spotify app"
4 - User opens Spotify app a

[2021-01-13 01:33] gilbarbara commented on #48
hey @caranicas

What is the `connect` part? Or the user just opens the app?

The device list won't be updated automatically.

The only sync in this library is for the `/player` endpoint when the user selects an external device and even in this case, the default interval is 5 seconds because I don't want to flood their API and get 429 error (Too Many Requests).

I could update the device list when

[2021-01-13 03:55] caranicas commented on #48
sorry if step 4 wasn't clear. But yes I was referring to opening the Spotify app on my desktop. and selecting my named player in the "Connect to a device" menu.

this sounds like what I want. what do I need to listen for to know when this connection to an external device has occurred?

[2021-01-13 14:24] gilbarbara commented on #48
`event.type === TYPE.DEVICE`

[2021-01-13 14:24] #48 closed

[2021-02-02 03:45] zluo01 opened #49 "Properly check end of songs"
Hi,
I try to modify the code to allow explicit controls for the player (i.e. random shuffles on songs). I currently use progressMs, track durationMs and position within updateSeekBar() to determine when is the end of the song. However, I notice sometimes song ended with position less than 100 or duration - progress > 3000ms.l I wonder if there is anyway to better determine the end of the song?

Al

[2021-02-02 15:56] gilbarbara commented on #49
hey @zluo01

Modify which code?
Anyway, this component is just a wrapper on top of Spotify's Web Playback SDK. You can try their [forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer) for this problem.

About the screen saver, the callback is triggered or not?

[2021-02-03 00:13] zluo01 commented on #49
I modified the function updateSeekBar() like following
[code]

By simply adding some callback function to get the update data. When exist the screen saver, there is no update from this function. I am not sure which part of the code handling this issues.

Thank you.

[2021-02-04 12:33] gilbarbara commented on #49
I couldn't replicate the behavior you've mentioned, after returning from the screen saver the callback was still firing.

[2021-02-04 12:35] gilbarbara commented on #49
If you have some new evidence, feel free to re-open this

[2021-02-04 12:35] #49 closed

[2021-02-21 17:01] EuanMorgan commented on #47
Hello, I'm having the same issue, did you find a fix for this?

[2021-02-22 16:03] didacus opened #50 "Error 403 trying to play the song"
I am getting a 403 error. Has anyone come across this? I searched the web, and it seems to be something about the account be disabled. However, my account is fully functional. When I click on the console, it says no token provided, but I added that to the player. Any ideas what might be causing this?

[2021-02-23 02:59] gilbarbara commented on #50
hey @didacus
It's impossible to know what's happening without an example.
Please post a codesandbox.

[2021-02-23 16:42] alntng opened #51 "Unhandled Rejection (TypeError): Cannot read property 'Player' of undefined"
Hi,

Having trouble simply running the demo in my webapp, it seems very straightforward, however I'm unsure why I'm getting the following error
![image](https://user-images.githubusercontent.com/45472803/108876170-f0946500-75cb-11eb-8662-1f98ba7b4f78.png)

Here is the barebones code below:

import { SpotifyAuth, Scopes } from "react-spotify-auth";
import { SpotifyApiContext } from "react-spotify-a

[2021-02-23 20:13] gilbarbara commented on #51
Apparently, the Spotify SDK isn't being loaded.
Can you create a codesandbox with this scenario?

[2021-02-24 14:57] breiko83 commented on #50
Does this player require Shopify Premium account?

I'm playing around with their Player API and their documentation says:
`If the user making the request is non-premium, a 403 FORBIDDEN response code will be returned.`

[2021-02-24 16:09] gilbarbara commented on #50
Yes. This component is just a wrapper on top of the Spotify Web Player SDK. Please refer to their [documentation](https://developer.spotify.com/documentation/web-playback-sdk/).

[2021-02-24 16:47] alntng commented on #51
Apologies, after importing my repo to a sandbox, I'm getting a CORS error , and now with that I'm a little confused on how to fix:
https://codesandbox.io/s/condescending-dan-78bgp?file=/src/App.js

The only line I changed was line 27 to "your client id"
![image](https://user-images.githubusercontent.com/45472803/109034782-fb1b3100-7695-11eb-8182-bb383d5984cc.png)

[2021-02-24 19:31] gilbarbara commented on #51
I can't help with that.

But try to simplify the setup, just load this player and set a token manually. if it works, it's not a problem with this library.
Just like the demo...

[2021-02-26 10:27] p19ky opened #52 "Is it possible to programmatically stop and start player?"

[2021-02-27 02:58] gilbarbara commented on #52
Yes, using the `play` prop as described in the README.

[2021-02-27 02:58] #52 closed

[2021-03-01 17:40] #51 closed

[2021-03-08 03:02] fheisler opened #53 "Bump to React 17"
Thanks for the fantastic package!

It would be great to upgrade dependencies and peer dependencies to the latest `17.0.1` React and react-dom.

[2021-03-19 03:16] harshil-darji opened #54 "EMEError: Platform does not support navigator.requestMediaKeySystemAccess"
I have created a Spotify app and trying to run it locally on my WIFi. However, when I use SpotifyPlayer, I am getting the following error:

[code]

The same app did work on localhost. I also tried disabling Chrome's Hardware Media Key Handling which might be causing the issue but no luck.

[2021-03-19 11:44] alexroumi opened #55 "Change device display name?"
Is it possible to change the "device" display name of the player?

[2021-03-19 13:23] gilbarbara commented on #55
hey @alexroumi

Did you try to change the `name` prop?

[2021-03-20 05:31] naikabhi4 opened #56 "player stuck on loading"

[2021-03-20 21:13] JacobwBruce opened #57 "Issue playing songs"
I have an issue playing a song from the uris prop, when I connect to a device to play from, it just starts playing whatever I was previously listening to and does not start playing whatever was passed into the component. I also get an error in the Spotify app saying 'Can't play the current song'. I've been debugging for a couple of days now and I can't tell if this is a bug from here or in my code

[2021-03-22 00:14] gilbarbara commented on #56
Issues without description or examples are closed automatically

[2021-03-22 00:14] #56 closed

[2021-03-22 00:22] gilbarbara commented on #57
hey @JacobwBruce

I don't know what you mean by "when I connect to a device to play from..."
Can you create a codesandbox with a minimal reproducible example?

[2021-03-22 11:34] alexroumi commented on #55
Still the same

[code]

[2021-03-22 13:21] gilbarbara commented on #55
Humm, not sure I understand the problem then.

Which name do you see? Where?

[2021-03-22 13:42] alexroumi commented on #55
How do I change that:

![image](https://user-images.githubusercontent.com/59561790/111998851-18241200-8b25-11eb-91a2-f1a2b7be97ed.png)
![image](https://user-images.githubusercontent.com/59561790/111998886-207c4d00-8b25-11eb-8b3b-e63172bd49a8.png)

[2021-03-22 13:52] alexroumi commented on #55
never mind  fixed it. It was the position of the property that caused the problem

[2021-03-22 13:52] #55 closed

[2021-03-25 17:42] shivamkcodes opened #59 "issue in playing the song"
when i want to use the player it gives me the 401 error..even when i go its official npm page nd try to run the payer on view demo.it returns the same error when i provide my accesstoken..

this is route which is not able to get fetched   https://api.spotify.com/v1/melody/v1/check_scope?scope=web-playback 401

![Screenshot (10)](https://user-images.githubusercontent.com/58622797/112518634-8d127880

[2021-03-25 19:26] gilbarbara commented on #59
This is not a [problem](https://httpstatuses.com/401) with this library...
You need a premium Spotify account to use their Playback SDK.

[2021-03-25 19:26] #59 closed

[2021-03-27 03:27] jmyshadow commented on #57
Have you tried passing the prop syncExternalDevice={false} ?

[2021-03-27 15:15] JacobwBruce commented on #57
Came back to this today and its working all of a sudden, I've made no changes or anything and it suddenly works lol. I guess this issue can be closed.

[2021-03-27 19:32] #57 closed

[2021-03-29 20:35] ranahiren27 opened #60 "403 error premium only device"
I'm not able to use player it's giving following error
{"error_type":"INVALID_LICENSE","message":"Device registration is not allowed: premium_only_device","error_code":9}

[2021-03-29 21:31] gilbarbara commented on #60
This library is just a wrapper on top of the Spotify SDK/API so I can't help with requests/responses.
Check the [docs](https://developer.spotify.com/documentation/web-playback-sdk/) to make sure you meet their requirements.

[2021-03-29 21:31] #60 closed

[2021-04-02 12:25] luisfuertes opened #61 "Set volume to 0 return error"
Cant set volume to 0. Get this error in console
[code]

[2021-04-04 04:20] gilbarbara commented on #61
hey @luisfuertes

Seems like a bug in Spotify Web Playback SDK... It could resolve itself since it was working when I release the latest version.

[2021-04-14 10:34] armanbalani commented on #54
I'm having this same issue

[2021-04-15 17:43] luisfuertes opened #62 "Player crashes in Android Chrome"
**Describe the bug**
When try to load a web with player, player crash.

This request failed
PUT https://api.spotify.com/v1/me/player/play?device_id=

I think in mobile cant get de device_id because it send empty

**To Reproduce**
Steps to reproduce the behavior:
1. Open player in Chrome on Android

**Expected behavior**
Load player like Chrome on desktop

[2021-04-15 22:07] gilbarbara commented on #62
Hey @luisfuertes

Android isn't supported by the [Web Playback SDK](https://developer.spotify.com/documentation/web-playback-sdk/).

The player should load and show the external devices, anyway.
If that isn't happening, please create a minimal codesandbox reproduction.

[2021-04-22 21:16] Hephaestos opened #63 "Firefox CORS Error"
**Describe the bug**
Playback is being blocked by a Cross Origin Request Blocked error on Firefox. This is happening both in my use of the component as well as on your demo

**To Reproduce**
Open your demo https://react-spotify-web-playback.gilbarbara.dev/
Open the developer console

**Screenshots**
![image](https://user-images.githubusercontent.com/8532135/115786168-734c5d00-a38e-11eb-81be-5d8c3d

[2021-04-22 21:23] gilbarbara commented on #63
Just tested in Firefox 87 and 88 on a Mac and I didn't have any errors.

[2021-04-22 21:26] gilbarbara commented on #63
The last line in your print mentions a moz-extension.
Try to disable all extensions.

[2021-04-23 16:00] Hephaestos commented on #63
Sure enough it was being caused by Privacy Badger. Thank you

[2021-04-23 16:00] #63 closed

[2021-04-25 06:10] jccdev45 commented on #53
I figured out a temporary solution until an update is rolled out:
- Fork & clone the repo then run `npm i` in your local copy.
- Run either `npm i react@17.0.0 react-dom@17.0.0` or `npm i react@latest react-dom@latest`
- Run `npm run build`. Remove "lib" from .gitignore.
- Add, commit & push your changes to Github. You may encounter an error when trying to commit, I solved this with `rm -rf ~/.nvm

[2021-04-25 14:49] fheisler commented on #53
@jccdev45 thanks for the notes! I did something similar on a [fork](https://github.com/fheisler/react-spotify-web-playback/commits/built) for now. (If anyone wants to use or copy that directly, note that the "built" branch also includes some other custom code after the version bump.)

[2021-04-25 21:29] jccdev45 commented on #53
Ah good stuff, two steps ahead. Nice work 👏

[2021-04-26 17:44] gilbarbara commented on #53
Just install it with `npm i --legacy-peer-deps`

[2021-06-22 01:36] kc1nn4y commented on #54
Same for me

[2021-06-22 03:02] armanbalani commented on #54
So I tried it again but this time with an SSL certificate registered on my app and it worked perfectly. It seems that chrome has these security measures in place to to block EME from unsecured websites.

[2021-06-22 10:08] kc1nn4y commented on #54
Thank you man appreciate it! I will try this out

[2021-06-28 01:20] claypark-dev opened #65 "Web playback with podcast episodes."
Not so much a bug, just wanted to drop this in here, the spotify api now can call to podcast episodes which are oddly enough different than shows. It would be nice to be able to populate the player with an episode. It looks like just updating the valid types in validate URI should be enough to solve the problem.

[2021-07-14 03:30] gilbarbara commented on #53
Updated in 0.8.2

[2021-07-14 03:30] #53 closed

[2021-07-14 03:30] #61 closed

[2021-07-14 03:31] #62 closed

[2021-07-14 03:32] #50 closed

[2021-07-27 21:04] VituBR19 opened #67 "deepmerge is not a function (on RangeSlider)"
**Bug**
When the component is loaded, it just shows the error
![image](https://user-images.githubusercontent.com/59032828/127225486-7d928a30-379e-4a70-b33e-9cc7cef34e12.png)

**My Usage**
Using component like:
``{running && (
                        <SpotifyPlayer token={authorize} uris={[running]} />
                    )}``

My scopes:
``var scopes =
    'streaming user-read-email user-read-priv

[2021-07-27 21:38] gilbarbara commented on #67
@VituBR19
Please post a codesandbox reproducing the error.

[2021-07-28 18:54] VituBR19 commented on #67
@gilbarbara Hello, I'm studying Vite, so you can run the project like `yarn vite` after install dependencies. Have to include your client id and client secret on app.tsx and auth.ts

here it is:
https://codesandbox.io/s/awesome-poitras-61zb1?file=/src/services/auth.ts

[2021-07-28 20:40] gilbarbara commented on #67
Most likely is a problem with Vite since this library works with webpack...

[2021-07-28 20:53] VituBR19 commented on #67
hmmm. I didn't know that

thanks for the observation

[2021-07-28 20:55] gilbarbara commented on #67
Check if the deepmerge dependency is installed in the node_modules and if vite is bundling it.
Also, search for issues in both vite and deepmerge repos.

[2021-07-28 21:44] #67 closed

[2021-09-08 04:57] danHoberman1999 opened #68 "New web playback update for mobile compatibility"
Would be incredible if you were able to update the npm to work for mobile.

[2021-09-09 07:42] kawern opened #71 "Invalid Token Scopes"
Hello. I'm using a token generation with an authorization flow, which works fine with fetching the data etc.

But when I'm trying to pass the same token in this script, i get a Spotify Web Player: Invalid token scopes. error in the webplayer.

It works fine if I create a token on spotifys "quick guide", and even when removing "Bearer " from my token (.replace("Bearer ", "")), it still gives me the

[2021-09-09 12:48] gilbarbara commented on #71
hey @kawern

Does it work that way or not?

Anyway, the demo and some other projects that use this player are working, so it's not a problem with the library itself.

[2021-09-09 12:48] #71 closed

[2021-09-10 06:59] kawern commented on #71
It works with the token you generate that works for one our, but it doesn't work with my authorization flow. It says Invalid Token Scopes, and i was just wondering if you had any idea why :)!

Thanks for the reply!

[2021-09-12 02:24] gilbarbara commented on #71
hey @kawern
This player is just a UI to control the Web Playback SDK and send some requests to the API.

You can try calling some of the endpoints this library uses with your token and see if it works directly.

[2021-09-12 03:19] gilbarbara commented on #65
hey @claypark-dev
Sorry for the long delay!

I'm trying to play an episode URI but it gave me a 400 error with **Non supported context uri**
Is it working for you?

[2021-09-22 15:07] fbegue commented on #41
@gilbarbara any update on this? I'm working on mobile now and running out of space!

Although as it is, your player works great as a 'slide in from the top/bottom of the screen' dealio with React Spring 👍

[2021-09-26 05:09] robksawyer commented on #41
Loving the module! It's looking great.

[2021-09-26 18:26] joshua-isaac opened #73 "Spotify Web Player: Invalid token scopes."
**Describe the bug**
Im trying to use this package with Next.js, however i keep running into this error: "Spotify Web Player: Invalid token scopes."

<img width="633" alt="Screen Shot 2021-09-26 at 2 23 13 PM" src="https://user-images.githubusercontent.com/40035381/134819628-57114e56-abf3-4fed-b35c-2cf0a48943ca.png">

[code]

I'm using next-auth to authenticate and get the token from users:

[code

[2021-09-27 14:51] robksawyer opened #74 "Metadata, cover art and Audio Preview Clips must be accompanied by a link back to the applicable artist, album, track, or playlist on the Spotify Service (Design Guidelines)"
I just submitted my application to Spotify in order to get a quota extension and it was rejected for the following reasons. I'm only mentioning this as I'm sure it's something other people will run into.

Metadata, cover art and Audio Preview Clips must be accompanied by a link back to the applicable artist, album, track, or playlist on the Spotify Service (Design Guidelines).

If you still need t

[2021-09-27 15:09] robksawyer opened #75 "Unable to run the demo when running locally"
I was going to try to update the module based on my other issue, but I'm unable to get the demo to run.

Getting the following issue.
`(demo) npm run start

There might be a problem with the project dependency tree.
It is likely not a bug in Create React App, but something you need to fix locally.

The react-scripts package provided by Create React App requires a dependency:

  "babel-jest": "^26.

[2021-10-16 04:52] gilbarbara commented on #75
The /demo is for the codesandbox ci and is not meant to be run locally.

[2021-10-16 04:52] #75 closed

[2021-10-16 04:57] #73 closed

[2021-10-16 04:57] #65 closed

[2021-10-16 14:20] #68 closed

[2021-10-18 13:44] o-laj opened #78 "Property 'onSpotifyWebPlaybackSDKReady' does not exist on type 'Window & typeof globalThis'."
Property 'onSpotifyWebPlaybackSDKReady' does not exist on type 'Window & typeof globalThis'. How do I fix this? I keep on getting it.

[2021-10-18 22:22] callmenikk opened #79 "Spotify Web Player: Invalid token scopes."
**I' m trying to use Spotify-web-api but getting error about invalid scopes**

as Component I have this Player, with props,  these  props ar `uri` and `token`, I import them to use on my main file

This is My Player Componenet
[code]

and thats my main file's little part

[code]

I put this Component on my main page and get that error, that token is invalid also this errors in console with **401**

[2021-10-19 03:49] gilbarbara commented on #79
hey @callmenikk

I don't know how are you getting the token, but using the specified scopes in the README works.

Did you try the [demo](https://react-spotify-web-playback.gilbarbara.dev/)? Is it working for you?
If it does it's probably something with your setup...

[2021-11-02 08:11] #78 closed

[2021-11-28 19:17] paulhuisman opened #86 "Track info sometimes not showing"
**Describe the bug**
It's weird but sometimes my track info is showing and sometimes it is not. When it's not showing also the "next" button is missing.

**Version used**
0.9.1 (with React 17.0.2)

**Code**
[code]

[2021-11-28 19:35] paulhuisman opened #87 "Uri with type 'episode' not playing: "Invalid URI""
**Describe the bug**
Via the Spotify api I can fetch my shows' episodes via the "getShowEpisodes" endpoint (see https://developer.spotify.com/console/get-show-episodes/).

However when I want to play them via your player i get an error that the uri type (episode) is not allowed. Is there a specific reason for this? I can make a PR.

**Version used**
0.9.1 (with React 17.0.2)

[2021-11-29 13:24] gilbarbara commented on #86
Include a codesandbox will help us to investigate the issue quicker.

[2021-11-29 13:28] gilbarbara commented on #87
hey @paulhuisman

This was already discussed in #65.
The API doesn't support episode uris

[2021-11-29 13:28] #87 closed

[2021-11-29 14:43] paulhuisman commented on #87
Why won't they support that..  :(

Thanks for your reply.

[2021-12-26 12:38] o-laj opened #90 "The volume drop-up is now a drop-down and it is being by the screen."
The "volume" and "connected devices"  drop-up is now a drop-down and it is being covered by the screen.

[2021-12-26 13:07] gilbarbara commented on #90
hey @o-laj

As stated in the new issue template:

Does it work in the [demo](https://react-spotify-web-playback.gilbarbara.dev/)?

[2021-12-26 13:08] #86 closed

[2021-12-28 06:05] rohhenry opened #91 "When "uris" prop changes the new track does not play automatically, even with the prop: "autoPlay" set to true"
First, thank you for creating this player it saved me a lot of headache. However there seems to be a bug with the SpotifyPlayer component detecting uri changes.

**Describe the bug**
`[trackURI, setTrackURI] = useState('')`
I have been trying to get the track to play another track only when it ends.

When a track ends, the s.progressMs goes to 0, the s.type is a "player_update", and the s.isPlayin

[2021-12-28 13:13] gilbarbara commented on #91
hey @rohhenry

The `autoPlay` only works for the first time the component mounts and after that, it won't have any effect.
You can use the `play` prop to control the internal state as it used in the [demo](https://github.com/gilbarbara/react-spotify-web-playback/blob/main/demo/src/App.tsx#L83)

[2021-12-28 13:13] #91 closed

[2022-01-31 11:38] sbereghici opened #96 "Play issue on changedURIs"
**Describe the bug**
If you pause a playing song/album/etc. and then change the uri, the player continues playing the last song, not the expected one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your demo app.
2. Click on the 'Play an artist' button.
3. Click the 'Pause' from the player.
4. Click on the 'Play some tracks' button.

**Expected behavior**
The player will not play the

[2022-01-31 11:40] sbereghici opened #97 "Play issue on changedURIs"
**Describe the bug**
If you pause the current playing song, then change the uris, the player continues to play the previous song, not the expected one

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your demo
2. Click on 'Play an artist'
3. Click on 'Pause' from player
4. Click on 'Play an album'

**Expected behavior**
The song you expect to play, will not play

**Additional context**

[2022-01-31 11:44] #96 closed

[2022-01-31 12:49] gilbarbara commented on #97
hey @sbereghici

I couldn't reproduce this behavior with the above steps.

![2022-01-31 09 42 49](https://user-images.githubusercontent.com/31954/151796418-d86a79fd-9ca3-4890-bdc2-2dc15dbca0a0.gif)

[2022-01-31 13:48] sbereghici commented on #97
Well, pretty strange ...
![CPT2201311547-760x348](https://user-images.githubusercontent.com/15802507/151805112-d467e843-5608-4aee-9c50-901b72b4f556.gif)

[2022-01-31 17:17] gilbarbara commented on #97
Which browser and version?
Can you test in an incognito window to make sure it's not some interference from extensions and/or scripts?

[2022-01-31 20:00] sbereghici commented on #97
Chrome v97.0.4692.99 ... I've tried in incognito and it works the same way, playing the old song, also tried with Edge, same result.

[2022-01-31 20:38] gilbarbara commented on #97
Are you using this [url](https://react-spotify-web-playback.gilbarbara.dev/) or the demo inside the codesandbox?
The Web Playback SDK has some issues with iframes

[2022-02-01 08:06] sbereghici commented on #97
Hey @gilbarbara, I'm using the [url](https://react-spotify-web-playback.gilbarbara.dev/).

[2022-02-06 18:59] givensuman commented on #90
I'm running into this as well. Volume is seemingly missing.
It does not seem to work in the demo. My token does have the 'user-modify-playback-state', and there are no errors in console.

Demo:
![screencap](https://user-images.githubusercontent.com/16063606/152696812-4fb5323c-0a93-4b3e-803b-e47c8641dd1d.PNG)

Implementation in my app:
![screencap2](https://user-images.githubusercontent.com/1606360

[2022-02-06 23:54] gilbarbara commented on #90
hey @givensuman
This issue was about positioning, not the button being hidden in small screens.

Anyway, the Volume button disappears on small screens since devices of these sizes have dedicated hardware buttons.
But this could be improved for sure. Feel free to open a PR.

[2022-03-09 19:48] igornj opened #100 "When the "uris" property receives a variable array does not work"
**The Bug**
I'm sending to the "uris" property an array with some uris inside the play the musics as a playlist. But instead of playing I get this error on the request:
**{status: 403, message: "Player command failed: Restriction violated", reason: "UNKNOWN"}**

The strange part is that when I grab the same values from this variable array and put it straight in the property, it works.

**On next p

[2022-03-09 23:33] gilbarbara commented on #100
Hey @igornj

I've tried to run the app but nothing worked...

Anyway, this library is a wrapper for the Spotify Web Playback SDK and I can't debug errors with their API.
You can try to replay the same request in Postman or another client to understand what's happening.
Make sure to check that you can play the track/playlist since some objects are geo-restricted.
The error is cryptic but definitely

[2022-03-09 23:33] #100 closed

[2022-03-10 13:19] igornj commented on #100
Thanks for your time,

Yeah, I don't know exactly why it works when its not a variable array in there. I'm just gonna change the feature and move on from now.

thank you

[2022-03-17 20:44] zzikkzzakk opened #101 "Play in Chrome on Android (version 8 to ? <11) stops streaming after 10 seconds for all songs after initial song"
**Describe the bug**
First of all: A great web player for Spotify.
I integrated it in my project and it's working without problems on desktop browser (Chrome on Mac).

My main goal is to get it running on mobile, but it stops playing in Chrome on Android after 10 seconds for all songs after initial song. First I thought it's a problem in my project, but now I also tested it on the demo app https:/

[2022-03-18 00:10] gilbarbara commented on #101
hey @zzikkzzakk

This is just a wrapper on top of the Spotify Web Playback SDK, so most likely it is a problem in their SDK with the device/browser combo you mentioned.

[2022-03-18 00:15] gilbarbara commented on #101
Are you sure isn't a problem with your specific device/OS/chrome? Android 8 reached end-of-life in December...

[2022-03-18 07:31] zzikkzzakk commented on #101
@gilbarbara thanks for the quick feedback
In fact I tested today on my girl-friends mobile with Android 11 and it works :) !!!!
So that's relieving and a reason for me to get a new smartphone.

I will try to find smartphones with Android 9 and 10 to test the behaviour there.
If anyone else can test on different Android versions would be great.

@gilbarbara do you think there is a way to reset the

[2022-03-18 12:05] gilbarbara commented on #101
@zzikkzzakk

This library it's just a UI for their SDK and I don't plan to add code (and more surface for bugs and maintenance)  to handle problems with unsupported devices.

Good luck!

[2022-03-18 12:05] #101 closed

[2022-03-18 18:33] zzikkzzakk commented on #101
@gilbarbara : Sure, I understand. Thanks for the quick feedback though !

[2022-04-09 19:46] cuneytyvz commented on #54
@armanbalani Hi, do you mean your app runs on https now and before it was http?

[2022-04-10 05:59] armanbalani commented on #54
Yes exactly

[2022-04-13 14:49] RubyBrewsday commented on #67
@gilbarbara Hi there, so I'm running into a similar issue but with ESbuild instead of webpack. Did you happen to know of anyone else who ran into this issue or have some advice on possibly a fix?

[2022-05-27 23:32] arjnai21 opened #102 "Player not authenticated"
**Describe the bug**
The web player does not authenticate with my valid access token. Sometimes it loads infinitely, and other times it says "Spotify Web Player: Authentication Failed". I know the access token is valid because I had just logged in, and used the token for other requests.

This is the endpoint that appears to not be working: https://api.spotify.com/v1/melody/v1/check_scope?scope=web

[2022-05-27 23:46] arjnai21 commented on #59
I had the same issue and I do have a premium spotify account.

[2022-05-28 23:45] gilbarbara commented on #102
hey @arjnai21

The sandbox is not working...
Anyway, are you sure the token has the [required](https://github.com/gilbarbara/react-spotify-web-playback#spotify-token) scopes?

[2022-05-29 04:56] arjnai21 commented on #102
Yes I am positive it does I double checked a million times. Perhaps you could download the code from the sandbox and then run?

[2022-05-29 11:28] arjnai21 commented on #102
The headers for the check scope api call are as follows:
:authority: api.spotify.com
:method: GET
:path: /v1/melody/v1/check_scope?scope=web-playback
:scheme: https
accept: */*
accept-encoding: gzip, deflate, br
accept-language: en-US,en;q=0.9
authorization: Bearer undefined
origin: https://sdk.scdn.co
referer: https://sdk.scdn.co/
sec-ch-ua: " Not A;Brand";v="99", "Chromium";v="102", "Google Chro

[2022-05-29 17:14] gilbarbara commented on #102
hey @arjnai21

Is the [demo](https://react-spotify-web-playback.gilbarbara.dev/) working for you?
If it doesn't, check your Spotify account status but if it does, the problem is with your implementation.

This library is just a UI wrapper on top of Spotify's [web-playback-sdk](https://developer.spotify.com/documentation/web-playback-sdk/). The SDK calls the endpoint throwing the error, so there's

[2022-06-02 20:28] #102 closed

[2022-06-03 13:24] gilbarbara commented on #97
Couldn't replicate this behavior.

[2022-06-03 13:24] #97 closed

[2022-06-11 00:22] timidri opened #104 "Cannot read properties of undefined (reading 'Player')"
**Describe the bug**
When using the SpotifyPlayer, during first time rendering, the error is displayed (Chrome):
[code]

In Safari, the following error is displayed:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/fervent-tree-94wc2j?file=/src/App.js'
2. See error
3. If needed, replace the const TOKEN by a valid Spotify token

**Expected behavior**
The

[2022-06-11 01:13] gilbarbara commented on #104
This is probably related to React's StrictMode.
Not sure this package would work with it since it inject the player directly into the host app.

[2022-06-11 13:28] timidri commented on #104
Without StrictMode it does indeed seem to work better, although it still doesn't render properly the first time.
However, even with StrictMode, it does render properly the second time and keeps working after that. Are you sure it isn't a timing issue?

[2022-06-11 13:43] gilbarbara commented on #104
What do you mean with "it still doesn't render properly the first time"? Even with a proper token?

[2022-06-11 14:12] timidri commented on #104
The first render looks like this now:
<img width="556" alt="image" src="https://user-images.githubusercontent.com/1586813/173191386-599033c3-06c7-4253-b158-c3506f2d1b74.png">

After pressing "play" it renders like so:
<img width="543" alt="image" src="https://user-images.githubusercontent.com/1586813/173191402-83b374c9-d548-4d78-8a8e-beeb1d7386e4.png">

[2022-06-11 18:20] timidri commented on #104
@gilbarbara I am using next.js with SpotifyPlayer and I have the same behaviour. If I disable StrictMode, the player does render the first time, but is non-functional (and doesn't display the track title nor icon, although the trackUri is set and autoPlay is on). I need to explicitly press Play after which the player is rendered correctly, starts playing, and restarts playing after 2 seconds, afte

[2022-06-13 17:49] gilbarbara commented on #104
hey @timidri
The player doesn't load the track data before it starts playing, this is the expected behavior.

I've never tried to run this library with SSR but autoPlay probably won't work...

I've tried to debug this play state change and it only happens sometimes, so it might be a bug on the WebPlayback SDK.
The library waits for the player to be loaded and "ready" before trying to play anything

[2022-06-14 16:46] timidri commented on #104
@gilbarbara Good point about SSR. I've disabled SSR for the player component and it's indeed more stable (the stage change whereby the play starts again doesn't seem to happen). However, autoplay still doesn't seem to work.
What's strange is that in this youtube video: https://www.youtube.com/watch?v=5qwpAn8bqCg next.js is also used and SpotifyPlayer does seem to do autoplay without changing the d

[2022-06-14 18:35] gilbarbara commented on #104
hey @timidri

I tried to check the video but it's too long and I couldn't catch the page load with autoPlay. However, if it's working there, it might be the implementation.

You could set the `autoPlay` to true when the parent component mounts (client-side) and use a `key` in the player so it will rerender.
Something like [this](https://github.com/gilbarbara/react-spotify-web-playback/blob/main/de

[2022-06-15 12:11] timidri commented on #104
@gilbarbara thanks, I will have a good look at the example you linked. And sorry, I should have given you a timestamp of the video, here: https://youtu.be/5qwpAn8bqCg?t=20902 is the beginning of the coding of the SpotifyPlayer component.

[2022-06-15 19:55] gilbarbara commented on #104
@timidri

From what I could understand, he's using a `useEffect` to only show the player when the app is rendered on the client-side, so that's why autoPlay is working.

Good luck!

[2022-06-15 20:21] gilbarbara commented on #104
Fixed StrictMode with React 18.x in v0.10.0

Thanks

[2022-06-15 20:21] #104 closed

[2022-06-18 14:37] mellie192 opened #107 "TypeError: (0 , memoize_one_1.default) is not a function"
**Describe the bug**
When trying to render the player, I get the following error:
TypeError: (0 , memoize_one_1.default) is not a function

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new NextJS project
2. Import the player in pages/index.js

My specs:
 - OS: Windows 11
 - Browser: Firefox & Chrome
 - React version: 18.2.0
 - NextJS version: 12.1.6
 - react-spotify-web-playback:

[2022-06-19 16:54] gilbarbara commented on #107
hey @mellie192

This library is a wrapper for the Spotify Web Playback SDK that only works in the browser, so it doesn't support SSR.
So you'll need to render it AFTER the component is mounted in the client.

Anyway, as stated in the issue template, issues without a codesandbox example will likely be ignored.

[2022-06-19 16:54] #107 closed

[2022-08-16 23:36] onlinewithryan opened #109 "Allow prop for custom error component"
I was planning on opening a pull request for this feature but opening an issue to save everyone some time.

I want to add a prop to allow the caller to provide a react component to render (or not render) errors.

For example:

[code]

Today we can get the most recent error through `this.props.callback` but it does not allow us to render custom error handling without unrendering the web player, whi

[2022-09-29 15:17] MatD1 opened #111 "Using this in Remix.run results in a weird error TypeError: (0 , memoize_one_1.default) is not a function"
**Describe the bug**
Wanted to use this with Remix, as I have been thoroughly enjoying it and have always wanted to do a custom Spotify build, however upon trying to rendering the player I get this error immediately. Not really sure what is wrong here, error seems to be coming from an `index.tsx`  line `60` file in the `src` folder.

<img width="1423" alt="Screen Shot 2022-09-30 at 1 04 54 am" src

[2022-09-29 15:22] MatD1 commented on #111
Didn't see the previous issue posted here, I'm going to assume that this will not work at all with SSR rendered frameworks?

[2022-09-29 15:31] MatD1 commented on #111
Closing this because I have a fix now, using the `Client-Only` utility from [Remix Utils](https://github.com/sergiodxa/remix-utils#clientonly)

[2022-09-29 15:31] #111 closed

[2022-10-24 13:56] jacobslunga opened #112 "Cannot change color of pause button, volume button or next and previous button"
**Describe the bug**
A clear and concise description of what the bug is.
I have tried to change color of the SpotifyWebPlayer's pause button and the so called "color" of the documentation to "#fff" but it doesn't work.

[2022-10-24 14:07] #112 closed